{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top: 150px;"> <!-- Added margin-top -->
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="main-content">
        <div class="about-us">
          <h2>About Us</h2>
          <p>Mood Buddy, is an emotional wellness platform designed to help people to connect with psychologist and experts.
            We offer free resources and self help tools as well.</p>
            <p>We are not a medical service or suicide prevention helpline. If you are feeling suicidal, we would suggest you immediately call up a suicide prevention helpline - eg Vandrevala Foundation Helpline - 1 860 266 2345 (24x7), Aasra - +91 22 2754 6669 (24x7).</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
