{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 150px;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
            <div class="card-header">
                Signup
            </div>
            <div class="card-body">
                <h1>Signup</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Signup</button>
                </form>
                <a href="{% url 'login' %}" class="btn btn-link">Already have an account? Login here.</a>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
