{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top: 150px;"> <!-- Added margin-top -->
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="main-content">
        <h1>Transcribe Audio</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Transcribe</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
